/***********************/
/*** GENERAL STYLING ***/
/***********************/

:root {
  /* CSS variables rock! */
  --themeColor: #aa1994;
  --decoBorderHeight: 6px;
}

html {
  font: 16px/125% arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Eliminate some default browser styling first; personal preference 🤷 */
* {
  /* Set all text to the same size relative to the font size defined for html. */
  font-size: 1rem;
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border-top: var(--decoBorderHeight) solid var(--themeColor);
}

.grid {
  display: flex;
  flex-direction: column;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 1px solid skyblue;
}

.row {
  display: flex;
  flex-direction: row;
}