:root {
  --themeColor: #aa1994;
}

html {
  font: 16px/125% arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  /* Set all elements to the same size relative to the font size defined for html */
  font-size: 1rem;
  /* Reset all the styling so that we can do our own magic */
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border-top: 6px solid var(--themeColor);
}

section {
  margin: 1em;
}

button,
input {
  padding: 0.5em;
  border: 2px solid var(--themeColor);
}

button {
  cursor: pointer;
}

li {
  list-style-position: inside;
}
