/***********************/
/*** GENERAL STYLING ***/
/***********************/

:root {
  /* CSS variables rock! */
  --themeColor: #aa1994;
  --decoBorderHeight: 6px;
}

html {
  font: 16px/125% arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Eliminate some default browser styling first; personal preference 🤷 */
* {
  /* Set all text to the same size relative to the font size defined for html. */
  font-size: 1rem;
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border-top: var(--decoBorderHeight) solid var(--themeColor);
}

section {
  margin: 1em;
}

button,
input {
  border: 2px solid var(--themeColor);
  padding: 0.5em;
}

button {
  cursor: pointer;
}

button:not(:last-of-type) {
  margin-right: 0.5em;
}

li {
  list-style-position: inside;
}

/*****************************/
/*** LAYOUT HELPER CLASSES ***/
/*****************************/

.full-screen {
  align-items: center;
  display: flex;
  height: calc(100vh - var(--decoBorderHeight));
  justify-content: center;
}

.flex-stretch {
  flex: 1;
  height: 100%;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
